In [37]:
import pandas as pd #data manipulation and analysis
import numpy as np #data arrays
from datetime import datetime #date time
import glob #join csv's together
import os # makes file join OS independent
import plotly.express as px #data visualisation
from geopy import distance

In [38]:
#load downloaded csv in, change date strings to datetime64 (date/time format)
#define variables that we will use for concatenating
path =r'C:\Users\zaydm\Documents\Repos\Google_Data_Analytics_Capstone\CSV files'
file_type = 'csv'
seperator =','

#define our dataframe. Change date strings to datetime64 
#'infer_datetime_format' infers the format of the datetime strings - in this case parsing speed = 10x faster
bike_share = pd.concat([pd.read_csv(f, sep=seperator,parse_dates=['started_at', 'ended_at'],infer_datetime_format=True, dayfirst=True) 

#using glob/for loop to find the csv files from the specified folder to join them together
for f in glob.glob(os.path.join(path + "/*."+file_type))],ignore_index=True)

#rename datetime columns so they're better defined
bike_share.rename(columns= {'started_at' : 'start_time','ended_at' : 'end_time' }, inplace=True)

In [39]:
bike_share

,ride_id,rideable_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219374,211BE0DC162D85B7,electric_bike,2022-02-23 17:47:00,2022-02-23 18:02:00,NaN,NaN,Leavitt St & Chicago Ave,18058,41.880000,-87.630000,41.895501,-87.682017,member
219375,D4D53E78000C8CA1,electric_bike,2022-02-04 10:43:00,2022-02-04 10:50:00,NaN,NaN,Leavitt St & Chicago Ave,18058,41.910000,-87.680000,41.895501,-87.682017,member
219376,9E85F07D2F94492B,electric_bike,2022-02-28 09:16:00,2022-02-28 09:28:00,Wood St & Chicago Ave,637,Canal St & Adams St,13011,41.895714,-87.672209,41.879255,-87.639904,member
219377,B61B559F81F1D823,electric_bike,2022-02-10 16:55:00,2022-02-10 16:57:00,NaN,NaN,Canal St & Adams St,13011,41.880000,-87.630000,41.879255,-87.639904,member
219378,841C701610CF0609,electric_bike,2022-02-21 16:35:00,2022-02-21 16:42:00,NaN,NaN,Larrabee St & Oak St,KA1504000116,41.880000,-87.650000,41.900219,-87.642985,member

In [40]:
#create new column that displays ride length
bike_share['ride_length'] = bike_share['end_time'] - bike_share['start_time']

In [41]:
bike_share.head(5)

,ride_id,rideable_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual,0 days 00:02:57
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual,0 days 00:04:21
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member,0 days 00:04:21
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual,0 days 00:14:56
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member,0 days 00:06:02

In [42]:
#get day of week (dow) integer for the dates in "start time" column
bike_share['day_of_week'] = bike_share['start_time'].dt.day_name()

#replace the integer values of days of week to actual text using a dictionary
#days = {0:'Mon', 1:'Tue', 2:'Wed', 3:'Thur', 4:'Fri', 5:'Sat', 6:'Sun'}

#bike_share['day_of_week'] = bike_share['day_of_week'].replace(days)

In [43]:
bike_share.head()

,ride_id,rideable_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual,0 days 00:02:57,Thursday
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual,0 days 00:04:21,Monday
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member,0 days 00:04:21,Tuesday
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual,0 days 00:14:56,Tuesday
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member,0 days 00:06:02,Thursday

In [44]:
missing_values_count = bike_share.isnull().sum()

missing_values_count[:]
#We can see from start_station_id there are 34840 missing values and from end_station_id there are 38282 missing values

ride_id                   0
rideable_type             0
start_time                0
end_time                  0
start_station_name    34840
start_station_id      34840
end_station_name      38282
end_station_id        38282
start_lat                 0
start_lng                 0
end_lat                 163
end_lng                 163
member_casual             0
ride_length               0
day_of_week               0
dtype: int64

In [45]:
#since we can't create start/end station names, we can drop the entire rows using dropna()
bike_share = bike_share.dropna()

#second check ensuring we have no null values
missing_values_count_2 = bike_share.isnull().sum()
missing_values_count_2[:]

ride_id               0
rideable_type         0
start_time            0
end_time              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
ride_length           0
day_of_week           0
dtype: int64

In [46]:
#checking to ensure no duplicate ride_id
unique_id = len(pd.unique(bike_share["ride_id"]))

print("# of unique Id: " + str(unique_id))

# of unique Id: 169306

In [47]:
#checking for any negative ride lengths as previous year data had some errors
neg_time = bike_share[bike_share['ride_length'].dt.total_seconds() < 0]
print(neg_time)

Empty DataFrame
Columns: [ride_id, rideable_type, start_time, end_time, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, ride_length, day_of_week]
Index: []

In [48]:
#create ride length in seconds for analysis. The error below is false positive 
bike_share['ride_length_seconds'] = bike_share['ride_length'].dt.total_seconds()

C:\Users\zaydm\miniconda3\envs\crypto_env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
mc_type = bike_share.groupby('member_casual')

In [50]:
mc_type['ride_length_seconds'].mean()

member_casual
casual    1558.570363
member     627.947491
Name: ride_length_seconds, dtype: float64

In [51]:
mc_day_type = bike_share.groupby(['member_casual','day_of_week'])

In [52]:
mc_day_type['ride_length_seconds'].mean()

member_casual  day_of_week
casual         Friday         1246.290368
               Monday         1454.452181
               Saturday       1643.777397
               Sunday         1799.109020
               Thursday       1887.585099
               Tuesday        1283.577874
               Wednesday      1555.046018
member         Friday          640.980476
               Monday          632.176459
               Saturday        638.655009
               Sunday          687.658034
               Thursday        603.200544
               Tuesday         607.971865
               Wednesday       606.826445
Name: ride_length_seconds, dtype: float64

In [53]:
#bike_share['day_of_week'] = bike_share['start_time'].dt.day_name()

After realising we have both lat and long start and finish points, we can work out the distance between the start and finish times. Its important to note that whilst these wont tell us the exact distance of the rides as it'll work out the path in a straight line and ofcourse won't include roads,obstructions etc. The purpose of this calculation is to see how much riders travel relative to each other and then compare volumes too. For e.g. member rides ride on average 7 miles on each trip, casual riders ride 10 miles on each trip. We then see volume on weekdays - this could indicate that member riders are commuting - faster speeds, same distance whereas the casual riders are riding more on weekends, slower speeds but longer distances.

In [54]:
bike_share.head()

,ride_id,rideable_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,ride_length_seconds
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual,0 days 00:02:57,Thursday,177.0
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual,0 days 00:04:21,Monday,261.0
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member,0 days 00:04:21,Tuesday,261.0
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual,0 days 00:14:56,Tuesday,896.0
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member,0 days 00:06:02,Thursday,362.0

In [55]:
index_0_start = (42.012800,	-87.665906)
index_0_end = (42.012560,	-87.674367)
print(distance.distance(index_0_start, index_0_end).miles)

0.43580980480248127

In [61]:
bike_share.loc[2,['start_lat']]

start_lat    41.925602
Name: 2, dtype: object

In [71]:
bike_share.astype({'start_lat':'float', 'start_lng':'float', 'end_lat':'float', 'end_lng':'float'})
bike_share.dtypes

ride_id                         object
rideable_type                   object
start_time              datetime64[ns]
end_time                datetime64[ns]
start_station_name              object
start_station_id                object
end_station_name                object
end_station_id                  object
start_lat                      float64
start_lng                      float64
end_lat                        float64
end_lng                        float64
member_casual                   object
ride_length            timedelta64[ns]
day_of_week                     object
ride_length_seconds            float64
dtype: object

In [87]:
bike_share['start_lat_long'] = [', '.join(str(x) for x in y) for y in map(tuple, bike_share[['start_lat', 'start_lng']].values)]
bike_share['end_lat_long'] = [', '.join(str(x) for x in y) for y in map(tuple, bike_share[['end_lat', 'end_lng']].values)]

C:\Users\zaydm\miniconda3\envs\crypto_env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\zaydm\miniconda3\envs\crypto_env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [91]:
bike_share

,ride_id,rideable_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,ride_length_seconds,start_lat_long,end_lat_long
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual,0 days 00:02:57,Thursday,177.0,"42.0128005, -87.665906","42.01256011541, -87.6743671152"
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual,0 days 00:04:21,Monday,261.0,"42.012763, -87.6659675","42.01256011541, -87.6743671152"
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member,0 days 00:04:21,Tuesday,261.0,"41.9256018819, -87.6537080423","41.92533, -87.6658"
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual,0 days 00:14:56,Tuesday,896.0,"41.983593, -87.669154","41.961507, -87.671387"
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member,0 days 00:06:02,Thursday,362.0,"41.87785, -87.62408","41.88462107257936, -87.62783423066139"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218621,4C17345CB2462796,classic_bike,2022-02-14 17:07:00,2022-02-14 17:23:00,Sheffield Ave & Kingsbury St,13154,Wood St & Chicago Ave,637,41.910522,-87.653106,41.895634,-87.672069,member,0 days 00:16:00,Monday,960.0,"41.910522, -87.653106","41.895634, -87.672069"
218997,8E66B8DA5234D7CE,electric_bike,2022-02-11 09:35:00,2022-02-11 09:44:00,California Ave & Milwaukee Ave,13084,California Ave & Division St,13256,41.922725,-87.697186,41.903029,-87.697474,casual,0 days 00:09:00,Friday,540.0,"41.92272517, -87.69718583","41.903029, -87.697474"
218998,D415EE4E41DD6B4A,classic_bike,2022-02-11 09:01:00,2022-02-11 09:10:00,California Ave & Division St,13256,California Ave & Milwaukee Ave,13084,41.903029,-87.697474,41.922695,-87.697153,casual,0 days 00:09:00,Friday,540.0,"41.903029, -87.697474","41.922695, -87.697153"
219371,70DB19460D085AA0,classic_bike,2022-02-19 23:57:00,2022-02-20 00:02:00,California Ave & Milwaukee Ave,13084,Humboldt Blvd & Armitage Ave,15651,41.922695,-87.697153,41.917513,-87.701809,member,0 days 00:05:00,Saturday,300.0,"41.922695, -87.697153","41.91751339, -87.70180896"
219376,9E85F07D2F94492B,electric_bike,2022-02-28 09:16:00,2022-02-28 09:28:00,Wood St & Chicago Ave,637,Canal St & Adams St,13011,41.895714,-87.672209,41.879255,-87.639904,member,0 days 00:12:00,Monday,720.0,"41.89571428, -87.6722095","41.879255, -87.639904"

In [93]:
index_0_start = ('41.89571428, -87.6722095')
index_0_end = ('41.879255, -87.639904')
print(distance.distance(index_0_start, index_0_end).miles)

2.016462858476188